################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataStructure/DataStructure/bin/Debug/net8.0
/DataStructure/DataStructure/obj
/DataStructure/.vs/DataStructure
/DataStructure/.vs/ProjectEvaluation
